@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-900 text-gray-100;
  font-family: 'JetBrains Mono', monospace;
  /* font-family: "Courier Prime", serif; */
  margin: 0;
  min-height: 100vh;
}

.courier {
  font-family: "Courier Prime", serif;
}

#root {
  min-height: 100vh;
}

select {
  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Custom chevron-down icon */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem center; /* Adjust as needed */
  background-size: 1rem auto; /* Adjust chevron size */
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For IE and Edge */
* {
  -ms-overflow-style: none;
}
